
.InformationCard {
    width: 480px;
    height: 480px;
    background-color: beige;
    font-style: italic;
    font-family: 'AbeeZee';
  }

.InformationCard.blue {
  background-color: #22356F;
}

.InformationCard.lightblue {
  background-color: #0052C1;
}

.InformationCard.green {
  background-color: #76B58B;
}
